body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body p{
    margin: 5px;
}
#insertVehiclesContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.formContainer{
    background-color: #152039;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
    width: 400px;
    height: 550px;
    gap: 40px;
}
.formContainer:last-child{
    background-color: #1b2746;
}
.formContainer form{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}
.checkboxContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    width: 250px;
    height: 220px;
    gap: 10px;
}
.checkboxContainer label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    gap: 20px;
    border-radius: 50px;
}
.tecDelVehiculo{
    background-color: #152039;
    color: #f5f5f5;
}
.tecDelVehiculo:hover{
    background-color: #f5f5f5;
    color: #152039;
}
.todasLasTec{
    background-color: #c2666e;
    color: white;
}
.todasLasTec:hover{
    background-color: white;
    color: #c2666e;
}
.checkboxContainer label input{
    background-color: #c2666e;
    color: white;
    margin-right: 10px;
}
.checkboxContainer label p{
    margin-left: 10px;
}

label{
    display: inline-block; /* Esto asegura que el ancho se ajuste al contenido sin forzar un salto de línea */
    width: auto; /* Establece el ancho automático para ajustarse al contenido */
    /* Otros estilos según sea necesario */
    height: auto;
}

input{
    box-sizing: border-box;
    font-size: 15px;
}
input[type="password"], input[type="text"], input[type="number"], input[list="marcaDeMoto"]{
    width: 300px;
    height: 35px;
}
input[type="password"]:hover, input[type="text"]:hover, input[type="number"]:hover, input[list="marcaDeMoto"]:hover{
    outline: 2px solid #ca4348;
}

.file-select {
    position: relative;
    display: inline-block;
}
.file-select::before {
    background-color: #c2666e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccione su Imagen'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 10px;
    display: inline-block;
}

#Volver{
    font-size: 15px;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#Enviar{
    font-size: 15px;
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 20px;    
}
/* Estilos para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #c2666e; /* Color del "pulgón" o parte desplazada de la barra */
    border-radius: 6px; /* Bordes redondeados de la "pulgón" */
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Color de fondo de la barra de desplazamiento */
}